@charset "EUC-KR";

* { /* 전체를 줄 때는*/
	/* border : 3px solid black; */	
}

/*CSS Comments*/
h1 { /*h1은 SELECTOR*/
	color: red;
	background: black;
}

#h1 { /* id attribute 한 애들은 이렇게 부름 */
	color: pink;
	background: blue;
}

.cc { /* class 불러올 때ㅑ*/
	color: red;
	background: gray;
}

input[type="text"] {
	background: yellow;
}