@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Diplomata|Griffy&display=swap');

h1{
	font-family: 'Diplomata', cursive;
	text-shadow : 3px 3px 3px #FF0000 /*가로 세로 그림자의길이 색깔*/
}

h3{

     font-family: 'Griffy', cursive;
     font-size:1.5em/*어느 크기에 맞춰줘서좋음*/;
     /* height:200px;block은 범위를 설정 가능 하지만 inline은 안됨!! ,이건 그냥 높이만 200으로 잡음*/
     line-height:200px;/*block은 범위를 설정 가능 하지만 inline은 안됨!!,text줄의높이를 변경*/
     border :1px solid red;
     text-align: center;/*수평에서의  가운데,line-height:200px;으로 잡았으니 높이(위아래) 전체를 잡고 그 가운에 */
}

a {
	text-decoration: none;
	color: black;
	line-height: 100px;/*주변 범위 설정 (위아래)*/
	border :1px solid black;
}

a:hover { /* hover: 마우스를 가져다 놓으면*/
	background: blue;
	color: yellow;
	font-size: 1.5em; /*2em : 2배*/
}

input:focus { /*focus : 마우스를 클릭해서 들어가면*/
	background: gray;
	border: 1px solid black; /*2em : 2배*/
}

div > h3:nth-child(4) {
	color: #CC3D3D;
	font-family:"Courier New" ,Times,serif;/*폰트 3개 중에 있는 것이 나올 수 있도록(내 os에 있는 것만 나타남) 그래서자주사용 X -> 웹 폰트 사용*/
}

div > :not(.a) {
	color: red;
}

/* h3:nth-child(2n){
 color : red;
}

h3:nth-child(2n+1){
 color : blue;
}
 */